* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to bottom, green, white, red); */
  /* background-repeat: no-repeat; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;

  box-shadow: 0 0 10px rgba(51, 51, 51, 0.699);
  border-radius: 25px;
  /* padding: 24px; */
  margin: 10px;
}

h1 {
  font-size: 18px;
  padding: 18px;
}

h2 {
  font-size: 24px;
  color: rgb(61, 24, 24);
  padding: 8px 18px;
}

p {
  font-size: 20px;
  padding: 0 18px;
  margin-bottom: 24px;
}

li {
  font-size: 20px;
  color: rgb(61, 24, 24);
}

img {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;

  margin: 18px 24px;
}
